<h1>Student Information </h1>

<style>
    table, th, td {
      border:1px solid black;
    }
</style>
    
    <table style="width:100%">
        <tr>
            <th>STUDENT NAME</th>
            <th>FATHERS NAME</th>
            <th>MOTHERS NAME</th>
            <th>EMAIL</th>
            <th>PHONE NO</th>
        </tr>
        {% if student %}
            {% for student in students %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.fathers_name }}</td>
                        <td>{{ student.mothers_name }}</td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.phone_no }}</td>
                        <td><a href="{% url 'edit' student.id %}">Edit</a>/<a href="{% url 'delete' student.id %}">Delete</a></td>
                    </tr>
            {% endfor %}
        {% else %}
            <p>No Data to display</p>
        {% endif %}   
    </table><br><br>

    <button type="button"><a href="{% url 'add' %}">Add</a></button>